/* .app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url('/img/movie.jpg');
    background-size: 100% 100%;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .submit {
    margin-top: 10px;
    margin-inline: 80px;
    cursor: pointer;
    font-size: 15px;
    background: #ffb300;
    border-radius: 10px;
    border: 1px solid #fd7a00;
    color: #413b3b;
    padding: 10px 20px;
  }

  .signup  {
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #f3d99c;
    border-radius: 10px;
    border: 1px solid #ebbc90;
    color: #413b3b;
    padding: 5px 5px;
  }
  
  .submit:hover {
    background: #f52d17;
  }

  .signup:hover {
    background: #f52d17;
  }
  
  .have-account {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    padding-inline: 10rem;
    border-radius: 10px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.849), 0 6px 20px 0 rgb(255, 147, 147);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  } */


  .app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url('/img/login2.webp');
    background-size: 100% 100%;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .submit {
    margin-top: 10px;
    margin-inline: 80px;
    cursor: pointer;
    font-size: 15px;
    background: #fab67a;
    border-radius: 10px;
    border: 1px solid #fd7a00;
    color: #413b3b;
    padding: 10px 20px;
  }

  .signup  {
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #748ba2;
    border-radius: 10px;
    border: 1px solid #ebbc90;
    color: #413b3b;
    padding: 5px 5px;
  }
  
  .submit:hover {
    background: #f52d17;
  }

  .signup:hover {
    background: #f52d17;
  }
  
  .have-account {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background: linear-gradient(rgb(207, 209, 222), rgb(214, 185, 166)    );
    padding: 2rem;
    padding-inline: 10rem;
    border-radius: 10px;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }